<!DOCTYPE html>
<html>
<head>
  <title>我的优惠券</title>
  <meta name="viewport"
        content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
  <!-- Makes your prototype chrome-less once bookmarked to your phone's home screen -->
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="format-detection" content="telephone=no">

  <!-- uc强制竖屏 -->
  <meta name="screen-orientation" content="portrait">
  <!-- qq强制竖屏 -->
  <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
  <meta http-equiv="Pragma" content="no-cache">
  <meta http-equiv="Expires" content="0">
  <!-- rem.js -->
  <script>!function () {
      function e() {
        clearTimeout(i), i = setTimeout(t, 300)
      }

      function t() {
        n.rem = o.getBoundingClientRect().width / 10, o.style.fontSize = n.rem + "px"
      }

      var i, n = window, o = document.documentElement, d = "addEventListener";
      t(), o.setAttribute("data-dpr", n.devicePixelRatio), n[d]("resize", e), n[d]("pageshow", function (t) {
        t.persisted && e()
      })
    }();</script>

  <link rel='stylesheet' href='/stylesheets/coupon.css'/>
</head>
<body>
<div class="wrapper">
  <% if(list.length>0){ %>
  <% for(var i = 0;i < list.length;i++){ %>
  <div class="order-item">
    <div class="left">
      <div class="brand-title">新用户专享</div>
      <div class="amount"><%= list[i].amount %></div>
    </div>
    <div class="right">
      <div class="promotion">专享优惠</div>
      <div class="time"><%= list[i].validStartTime %>至<%= list[i].validEndTime %></div>
      <div class="interpret">最终解释权归XXX所有</div>
    </div>
  </div>
  <% } %>
  <% } else {%>
    <div class="empty-info">没有优惠券</div>
  <%}%>
</div>
<script src="/javascripts/coupon.js"></script>
</body>
</html>
