<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <meta name="viewport"
          content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
    <!-- Makes your prototype chrome-less once bookmarked to your phone's home screen -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">

    <!-- uc强制竖屏 -->
    <meta name="screen-orientation" content="portrait">
    <!-- qq强制竖屏 -->
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="0">
    <!-- rem.js -->
    <script>!function () {
        function e() {
          clearTimeout(i), i = setTimeout(t, 300)
        }

        function t() {
          n.rem = o.getBoundingClientRect().width / 10, o.style.fontSize = n.rem + "px"
        }

        var i, n = window, o = document.documentElement, d = "addEventListener";
        t(), o.setAttribute("data-dpr", n.devicePixelRatio), n[d]("resize", e), n[d]("pageshow", function (t) {
          t.persisted && e()
        })
      }();</script>

    <link rel='stylesheet' href='/stylesheets/login_c.css' />
  </head>
  <body>
    <div class="wrapper">
      <a class="login-btn" href="https://open.weixin.qq.com/connect/oauth2/authorize?appid=wxde4642a10788624f&redirect_uri=<%=redirectUrl%>&response_type=code&scope=snsapi_userinfo&state=test#wechat_redirect"></a>
    </div>
  </body>
</html>
