<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <meta name="viewport"
        content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
  <!-- Makes your prototype chrome-less once bookmarked to your phone's home screen -->
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="format-detection" content="telephone=no">

  <!-- uc强制竖屏 -->
  <meta name="screen-orientation" content="portrait">
  <!-- qq强制竖屏 -->
  <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
  <meta http-equiv="Pragma" content="no-cache">
  <meta http-equiv="Expires" content="0">
  <!-- rem.js -->
  <script>!function () {
      function e() {
        clearTimeout(i), i = setTimeout(t, 300)
      }

      function t() {
        n.rem = o.getBoundingClientRect().width / 10, o.style.fontSize = n.rem + "px"
      }

      var i, n = window, o = document.documentElement, d = "addEventListener";
      t(), o.setAttribute("data-dpr", n.devicePixelRatio), n[d]("resize", e), n[d]("pageshow", function (t) {
        t.persisted && e()
      })
    }();</script>

  <link rel='stylesheet' href='/stylesheets/login_b.css'/>
</head>
<body>
<div class="wrapper">
  <div class="top-img"></div>
  <div class="username bot-border">
    <input type="text" class="input" id="username" placeholder="请输入注册手机号"/>
    <img src="/images/mobile-phone.png" class="right-img" alt="">
  </div>
  <div class="username">
    <input type="password" class="input" id="password" placeholder="请输入登录密码"/>
    <img src="/images/password.png" class="right-img" alt="">
  </div>
  <div class="bot-link">
    <div class="login-btn" onclick="login()">
      <button>登录</button>
    </div>
    <div class="bottom-link">
      <div onclick="findbackPwd()">密码找回</div>
      <div class="reg" onclick="toRegisterPage()">新用户注册</div>
      <div onclick="contactCustomerService()">联系客服</div>
    </div>
  </div>
</div>
<script src="/javascripts/lib/simple_ajax.js"></script>
<script src="/javascripts/login_b.js"></script>
</body>
</html>
