<!DOCTYPE html>
<html>
<head>
  <title>支付详情</title>
  <meta name="viewport"
        content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
  <!-- Makes your prototype chrome-less once bookmarked to your phone's home screen -->
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="format-detection" content="telephone=no">

  <!-- uc强制竖屏 -->
  <meta name="screen-orientation" content="portrait">
  <!-- qq强制竖屏 -->
  <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
  <meta http-equiv="Pragma" content="no-cache">
  <meta http-equiv="Expires" content="0">
  <!-- rem.js -->
  <script>!function () {
      function e() {
        clearTimeout(i), i = setTimeout(t, 300)
      }

      function t() {
        n.rem = o.getBoundingClientRect().width / 10, o.style.fontSize = n.rem + "px"
      }

      var i, n = window, o = document.documentElement, d = "addEventListener";
      t(), o.setAttribute("data-dpr", n.devicePixelRatio), n[d]("resize", e), n[d]("pageshow", function (t) {
        t.persisted && e()
      })
    }();</script>

  <link rel='stylesheet' href='/stylesheets/pay_detail.css'/>
</head>
<body>
<div class="wrapper">
  <div class="body">
    <div class="head-info">
      <div class="avator" style="background-image:url(<%= avatorUrl %>)"></div>
      <div class="name pos"><%= name %></div>
      <div class="com pos"><%= company %></div>
      <div class="statistic pos">
        <div class="order-count">
          接单<%= orderCounts %>次
        </div>
        <div>
          <% for(var j = 0; j < starLevel;j++){ %>
          <img src="../images/star-fill.png" alt="">
          <% } %>
          <% for(var j = 0; j < 5 - starLevel;j++){ %>
          <img src="../images/star-empty.png" alt="">
          <% } %>
        </div>
      </div>
    </div>
    <div class="line top-add">
      <input type="text" type="tel" placeholder="请输入支付金额"/>
    </div>
    <div class="line top-add bot-border complex-line" onclick="showCouponList()">
      <div class="left-title">优惠券/抵用券</div>
      <div class="coupon-amount">-20.00</div>
      <div class="right-arrow"></div>
    </div>
    <div class="line bot-border complex-line">
      <div class="left-title">实付金额</div>
      <div class="pay-amount" >￥<span id="realPayAmount">1</span></div>
    </div>
    <div class="line complex-line" onclick="showBrandList()">
      <div class="brand-title">手表品牌</div>
      <div class="select-tip">为确保服务质量，请准确选择品牌</div>
      <div class="right-arrow"></div>
    </div>
    <div>
      <div class="confirm-pay" onclick="payClick()">确认支付</div>
    </div>
  </div>
</div>

<div class="pop-dialog-bkg" id="dialog" onclick="hideDialog()">
  <div class="bind-mobilephone" id="bind-dialog" >
    <div class="mobilenum-block">
      <input type="text" placeholder="涉及支付安全，首次支付请绑定手机号"/>
    </div>
    <div class="captcha">
      <div>
        <input type="text" placeholder="请输入验证码"/>
      </div>
      <div class="send-captcha">
        发送验证码
      </div>
    </div>
    <div class="confirm" id="bind-mobilephone-confirm-btn">
      确定
    </div>
  </div>
</div>

<div class="pop-dialog-bkg" id="coupon-dialog" onclick="hideCouponDialog()">
  <div class="coupon-inner-dialog" id="coupon-inner-dialog">
    <div id="couponList"></div>
    <div class="coupon-btn">
      <div class="coupon-cancel">取消</div>
      <div class="coupon-confirm">确认</div>
    </div>
  </div>
</div>

<div class="pop-dialog-bkg" id="brand-dialog" onclick="hideBrandDialog()">
  <div class="brand-inner-dialog" id="brand-inner-dialog">
    <div id="brandList" class="brand-list">
    </div>
    
  </div>
</div>

<script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
<script src="/javascripts/lib/simple_ajax.js"></script>
<script src="/javascripts/pay_detail.js"></script>
</body>
</html>
