<!DOCTYPE html>
<html>
<head>
  <title>个人信息</title>
  <meta name="viewport"
        content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
  <!-- Makes your prototype chrome-less once bookmarked to your phone's home screen -->
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="format-detection" content="telephone=no">

  <!-- uc强制竖屏 -->
  <meta name="screen-orientation" content="portrait">
  <!-- qq强制竖屏 -->
  <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
  <meta http-equiv="Pragma" content="no-cache">
  <meta http-equiv="Expires" content="0">
  <!-- rem.js -->
  <script>!function () {
      function e() {
        clearTimeout(i), i = setTimeout(t, 300)
      }

      function t() {
        n.rem = o.getBoundingClientRect().width / 10, o.style.fontSize = n.rem + "px"
      }

      var i, n = window, o = document.documentElement, d = "addEventListener";
      t(), o.setAttribute("data-dpr", n.devicePixelRatio), n[d]("resize", e), n[d]("pageshow", function (t) {
        t.persisted && e()
      })
    }();</script>

  <link rel='stylesheet' href='/stylesheets/personal_info.css' />
</head>
<body>
<div class="wrapper">
  <div class="avator-line">
    <div class="left-div">头像</div>
    <div class="right-avator" style="background-image:url(<%= avatorUrl%>)"></div>
  </div>
  <div class="common-line">
    <div class="left-text">昵称</div>
    <div class="left-text right-text"><%= nickName%></div>
  </div>
  <div class="common-line">
    <div class="left-text">性别</div>
    <div class="left-text right-text"><%= gender%></div>
  </div>
  <div class="common-line">
    <div class="left-text">绑定手机号</div>
    <div class="left-text right-text"><%= bindMobilephone%></div>
  </div>
  <div class="common-line" id="coupon-list">
    <div class="left-text">我的优惠券</div>
    <div class="left-text right-text right-arrow">
    </div>
  </div>
  <div class="common-line" id="completed-order">
    <div class="left-text">已完成订单</div>
    <div class="left-text right-text right-arrow"></div>
  </div>
  <div class="common-line" id="followed-craftman">
    <div class="left-text">关注的工匠</div>
    <div class="left-text right-text right-arrow"></div>
  </div>
  <div class="common-line logout" id="logout">
    退出登录
  </div>
</div>
<script src="/javascripts/personal_info.js"></script>
</body>
</html>
