<!DOCTYPE html>
<html>
<head>
  <title>欢迎加入小筑匠心</title>
  <meta name="viewport"
        content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
  <!-- Makes your prototype chrome-less once bookmarked to your phone's home screen -->
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="format-detection" content="telephone=no">

  <!-- uc强制竖屏 -->
  <meta name="screen-orientation" content="portrait">
  <!-- qq强制竖屏 -->
  <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
  <meta http-equiv="Pragma" content="no-cache">
  <meta http-equiv="Expires" content="0">
  <!-- rem.js -->
  <script>!function () {
      function e() {
        clearTimeout(i), i = setTimeout(t, 300)
      }

      function t() {
        n.rem = o.getBoundingClientRect().width / 10, o.style.fontSize = n.rem + "px"
      }

      var i, n = window, o = document.documentElement, d = "addEventListener";
      t(), o.setAttribute("data-dpr", n.devicePixelRatio), n[d]("resize", e), n[d]("pageshow", function (t) {
        t.persisted && e()
      })
    }();</script>

  <link rel='stylesheet' href='/stylesheets/register_tele.css'/>
</head>
<body>
<div class="wrapper">
  <div class="top-img"></div>
  <div class="username bot-border">
    <img src="/images/mobile-phone.png" class="right-img" alt="">
    <input type="text" class="input" id="mobilephone" placeholder="请输入注册手机号"/>
  </div>
  <div class="username bot-border">
    <div class="captcha-left">
      <img src="/images/captcha.png" class="right-img" alt="">
      <input type="password" class="input captcha" id="password" placeholder="请输入验证码"/>
    </div>
    <div class="get-captcha-btn" onClick="retrieveValidateNo()">获取验证码</div>
  </div>
  <div class="username">
    <div class="captcha-left">
      <img src="/images/referrer.png" class="right-img" alt="">
      <input type="password" class="input referrer" id="password" placeholder="请输入推荐人手机号"/>
    </div>
    <div class="referrer-tip">无推荐人可空缺</div>
  </div>
  <div class="bot-link">
    <div class="next-step-btn" onclick="login()">
      <button>下一步</button>
    </div>
  </div>
</div>
<script src="/javascripts/lib/simple_ajax.js"></script>
<script src="/javascripts/register_tele.js"></script>
</body>
</html>
