<!DOCTYPE html>
<html>
<head>
  <title>欢迎加入小筑匠心</title>
  <meta name="viewport"
        content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
  <!-- Makes your prototype chrome-less once bookmarked to your phone's home screen -->
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="format-detection" content="telephone=no">

  <!-- uc强制竖屏 -->
  <meta name="screen-orientation" content="portrait">
  <!-- qq强制竖屏 -->
  <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
  <meta http-equiv="Pragma" content="no-cache">
  <meta http-equiv="Expires" content="0">
  <!-- rem.js -->
  <script>!function () {
      function e() {
        clearTimeout(i), i = setTimeout(t, 300)
      }

      function t() {
        n.rem = o.getBoundingClientRect().width / 10, o.style.fontSize = n.rem + "px"
      }

      var i, n = window, o = document.documentElement, d = "addEventListener";
      t(), o.setAttribute("data-dpr", n.devicePixelRatio), n[d]("resize", e), n[d]("pageshow", function (t) {
        t.persisted && e()
      })
    }();</script>

  <link rel='stylesheet' href='/stylesheets/upload_businesscard.css'/>
</head>
<body>
  <div class="wrapper">
    <div class="photo" id="photo">
      <img src="" id="preview-img" class="preview-img" alt="" />
      <div>本名片仅作为平台审核验证使用，不作他用！</div>
    </div>
    <div class="submit-btn" id="submit-btn">确认提交</div>
  </div>
  <input type="hidden" value="<%= timestamp %>" id="ts"/>
  <input type="hidden" value="<%= nonceStr %>" id="nstr"/>
  <input type="hidden" value="<%= signature %>" id="sign"/>

<script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
<script src="/javascripts/lib/simple_ajax.js"></script>
<script src="/javascripts/upload_businesscard.js"></script>
</body>
</html>
