<!DOCTYPE html>
<html>
<head>
  <title>用户评价</title>
  <meta name="viewport"
        content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
  <!-- Makes your prototype chrome-less once bookmarked to your phone's home screen -->
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="format-detection" content="telephone=no">

  <!-- uc强制竖屏 -->
  <meta name="screen-orientation" content="portrait">
  <!-- qq强制竖屏 -->
  <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
  <meta http-equiv="Pragma" content="no-cache">
  <meta http-equiv="Expires" content="0">
  <!-- rem.js -->
  <script>!function () {
      function e() {
        clearTimeout(i), i = setTimeout(t, 300)
      }

      function t() {
        n.rem = o.getBoundingClientRect().width / 10, o.style.fontSize = n.rem + "px"
      }

      var i, n = window, o = document.documentElement, d = "addEventListener";
      t(), o.setAttribute("data-dpr", n.devicePixelRatio), n[d]("resize", e), n[d]("pageshow", function (t) {
        t.persisted && e()
      })
    }();</script>

  <link rel='stylesheet' href='/stylesheets/user_comment_list.css'/>
</head>
<body>
<div class="wrapper" id="wrapper">
  <% for(var i = 0;i < commentList.length;i++){ %>

  <div class="comment-item">
    <div class="avator" style="background-image:url(<%= commentList[0].userAvatorUrl %>)"></div>
    <div class="comment-score">
      <div class="name">
        <%= commentList[i].username %>

      </div>
      <div class="cmt-time">
        <%= commentList[i].cmtTime %>
      </div>
      <div class="score">
        <span>评分</span>
        <% for(var j = 0; j < commentList[i].starLevel;j++){ %>
        <img src="./images/star-fill.png" alt="">
        <% } %>
        <% for(var j = 0; j < 5 - commentList[i].starLevel;j++){ %>
        <img src="./images/star-empty.png" alt="">
        <% } %>
      </div>
    </div>
    <div class="cmt-detail">
      <%= commentList[i].cmtDetail %>
    </div>
  </div>
  <% } %>
</div>
</body>
</html>
