@charset "UTF-8";
.iconfont {
  -webkit-font-smoothing: antialiased; }

.iconfont {
  -webkit-text-stroke-width: 0.2px; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-text-size-adjust: none; }

body {
  font-family: 'PingFang SC', Arial, 'Microsoft YaHei', 'SimHei', sans-serif;
  margin: 0;
  background-color: #293340; }

/*
去掉点击时的选择和阴影
*/
div, a, img {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  user-select: none; }

a {
  text-decoration: none; }

input {
  outline: none;
  border: none; }

html, body, .wrapper {
  height: 100%;
  -webkit-overflow-scrolling: touch;
  font-size: 0.4375rem; }

.wrapper {
  background-color: #EEEEEE; }
  .wrapper .top {
    width: 100%;
    height: 11.34375rem;
    background-image: url("/images/business_card_bkg.jpg");
    position: relative; }
    .wrapper .top .order-count {
      position: absolute;
      top: 0.57813rem;
      left: 0.35938rem;
      color: #FFF;
      font-size: 0.3125rem; }
      .wrapper .top .order-count span {
        font-size: 0.375rem; }
    .wrapper .top .avatar {
      width: 2.8125rem;
      height: 2.8125rem;
      position: absolute;
      top: 0.35938rem;
      margin: 0 auto;
      border-radius: 50%;
      left: 3.59375rem;
      background-size: cover;
      background-repeat: no-repeat; }
    .wrapper .top .username {
      position: absolute;
      top: 3.21875rem;
      width: 10rem;
      text-align: center;
      color: #FFF; }
      .wrapper .top .username .name {
        font-size: 0.57813rem; }
      .wrapper .top .username .company {
        font-size: 0.39063rem; }
    .wrapper .top .follow {
      width: 2rem;
      height: 0.54688rem;
      line-height: 0.54688rem;
      position: absolute;
      top: 2.8125rem;
      right: 0.25rem;
      border: 1px solid #FFF;
      border-radius: 0.39063rem;
      padding-left: 0.07813rem;
      padding-right: 0.07813rem; }
      .wrapper .top .follow img {
        width: 0.34375rem;
        height: 0.3125rem; }
      .wrapper .top .follow span {
        font-size: 0.28125rem;
        height: 0.54688rem;
        line-height: 0.54688rem;
        color: #FFF; }
    .wrapper .top .star-level {
      position: absolute;
      top: 5.03125rem;
      width: 100%;
      text-align: center; }
      .wrapper .top .star-level img {
        width: 0.46875rem;
        height: 0.4375rem; }
    .wrapper .top .line {
      display: flex;
      position: absolute;
      width: 100%;
      justify-content: space-between; }
      .wrapper .top .line .img {
        width: 1.25rem;
        height: 1.25rem;
        border-radius: 50%;
        background-size: 0.625rem 0.6875rem;
        background-position: center center;
        background-color: rgba(1, 1, 1, 0.3);
        background-repeat: no-repeat; }
      .wrapper .top .line .profile {
        background-image: url("/images/profile.png"); }
      .wrapper .top .line .comment {
        background-image: url("/images/comment.png"); }
      .wrapper .top .line .line-text {
        font-size: 0.3125rem;
        color: #FFF;
        margin-top: 0.15625rem; }
    .wrapper .top .first-line {
      top: 5rem; }
      .wrapper .top .first-line .first-left {
        margin-left: 0.78125rem; }
      .wrapper .top .first-line .first-right {
        margin-right: 0.78125rem; }
    .wrapper .top .second-line {
      top: 7.0625rem; }
      .wrapper .top .second-line .second-left {
        margin-left: 1.875rem; }
        .wrapper .top .second-line .second-left .skilled-brand {
          background-image: url("/images/skilled-brand.png"); }
      .wrapper .top .second-line .second-right {
        margin-right: 1.875rem; }
        .wrapper .top .second-line .second-right .pay {
          background-image: url("/images/pay.png"); }
    .wrapper .top .third-line {
      top: 7.34375rem;
      display: block; }
      .wrapper .top .third-line .tele {
        width: 1.5625rem;
        height: 1.5625rem;
        background-image: url("/images/telephone.png");
        margin: 0 auto;
        background-size: 0.85938rem 0.78125rem; }
      .wrapper .top .third-line .tele-text {
        text-align: center; }
    .wrapper .top .apply-business-card {
      width: 1.90625rem;
      height: 0.54688rem;
      border: 1px solid #FFF;
      border-radius: 0.26563rem;
      font-size: 0.29688rem;
      color: #FFF;
      display: flex;
      padding-left: 0.15625rem;
      align-items: center;
      position: absolute;
      top: 9.34375rem;
      left: 0.8125rem; }
      .wrapper .top .apply-business-card .apply-img {
        width: 0.35938rem;
        height: 0.375rem;
        background-image: url("/images/apply-business-card.png");
        background-size: contain; }
    .wrapper .top .position {
      display: flex;
      width: 100%;
      position: absolute;
      bottom: 0;
      align-items: center;
      color: #FFF;
      font-size: 0.3125rem;
      height: 0.82813rem;
      justify-content: space-between;
      border-top: 1px solid #eee; }
      .wrapper .top .position .dis {
        display: flex;
        margin-left: 0.40625rem; }
        .wrapper .top .position .dis .location {
          width: 0.21875rem;
          height: 0.82813rem;
          background-image: url("/images/location.png");
          background-size: contain;
          background-position: center center;
          background-repeat: no-repeat; }
        .wrapper .top .position .dis .add-left-margin {
          margin-left: 0.15625rem;
          height: 0.82813rem;
          line-height: 0.82813rem; }
      .wrapper .top .position .right-arrow {
        width: 0.15625rem;
        height: 0.82813rem;
        background-size: contain;
        background-repeat: no-repeat;
        background-image: url("/images/right-arrow.png");
        background-position: center center;
        margin-right: 0.34375rem; }
  .wrapper .bottom {
    background-color: #FFF; }
    .wrapper .bottom .title {
      display: flex;
      align-items: center;
      padding: 0.40625rem 0.375rem; }
      .wrapper .bottom .title .line {
        height: 0.125rem;
        width: 3.125rem;
        background-color: #efefef; }
      .wrapper .bottom .title .text {
        width: 3.0625rem;
        text-align: center; }
    .wrapper .bottom .content {
      font-size: 0.28125rem;
      color: #333;
      border-bottom: 1px solid #e7e7e7; }
      .wrapper .bottom .content p {
        text-indent: 2em;
        margin: 0;
        padding: 0rem 0.375rem 0.375rem 0.375rem; }

.pop-dlg {
  width: 10rem;
  height: 17.75rem;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: none; }
  .pop-dlg .dialog {
    width: 8.4375rem;
    height: 3.90625rem;
    background-color: #FFF;
    border-radius: 0.07813rem;
    margin: 0 auto;
    margin-top: 4.6875rem;
    text-align: center;
    font-size: 0.625rem;
    color: #FFb400; }
    .pop-dlg .dialog .tele-num {
      padding-top: 1rem;
      padding-bottom: 1rem;
      font-weight: 300; }
    .pop-dlg .dialog .button {
      display: flex;
      font-size: 0.53125rem;
      height: 1.01563rem;
      line-height: 1.01563rem;
      border-radius: 0.07813rem;
      font-weight: 300; }
      .pop-dlg .dialog .button .call {
        flex-basis: 50%;
        background-color: #FFb400;
        color: #FFF;
        border-bottom-left-radius: 0.07813rem; }
      .pop-dlg .dialog .button .cancel {
        flex-basis: 50%;
        color: #A3A3A3;
        background-color: #dcdcdc;
        border-bottom-right-radius: 0.07813rem; }

/*# sourceMappingURL=business_card.css.map */
