@charset "UTF-8";
.iconfont {
  -webkit-font-smoothing: antialiased; }

.iconfont {
  -webkit-text-stroke-width: 0.2px; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-text-size-adjust: none; }

body {
  font-family: 'PingFang SC', Arial, 'Microsoft YaHei', 'SimHei', sans-serif;
  margin: 0;
  background-color: #293340; }

/*
去掉点击时的选择和阴影
*/
div, a, img {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  user-select: none; }

a {
  text-decoration: none; }

input {
  outline: none;
  border: none; }

html, body, .wrapper {
  height: 100%;
  -webkit-overflow-scrolling: touch;
  font-size: 0.4375rem; }

input, button {
  outline: none;
  margin: 0;
  border: none; }

.flex {
  display: flex;
  align-items: center; }

.wrapper {
  background-color: #EEEEEE;
  padding-top: 0.5rem; }
  .wrapper .basic-info {
    display: flex;
    align-items: center;
    height: 1.875rem;
    padding: 0.3125rem 0.5rem;
    background-color: #FFF;
    border-bottom: 1px solid #e7e7e7; }
    .wrapper .basic-info .avator {
      width: 1.25rem;
      height: 1.25rem;
      background-size: cover;
      background-repeat: no-repeat;
      margin-right: 0.5rem; }
    .wrapper .basic-info .name {
      margin-right: 0.5rem;
      font-size: 0.4375rem;
      color: #131313; }
    .wrapper .basic-info .telephone {
      font-size: 0.4375rem;
      color: #aaa; }
    .wrapper .basic-info .right-arrow {
      width: 0.3125rem;
      height: 0.5625rem;
      background-image: url("../images/right-arrow.png");
      background-size: contain;
      background-repeat: no-repeat;
      margin-left: 2.23438rem; }
  .wrapper .second-line {
    display: flex;
    background-color: #FFF; }
    .wrapper .second-line .detail-list {
      border-left: 1px solid #e7e7e7;
      border-right: 1px solid #e7e7e7; }
    .wrapper .second-line > div {
      flex-basis: 33.3%;
      padding-top: 0.5rem;
      padding-bottom: 0.4375rem;
      font-size: 0.3125rem;
      color: #575757; }
      .wrapper .second-line > div .order-amount {
        font-size: 0.40625rem;
        color: #ffb400; }
      .wrapper .second-line > div .detail-logo {
        width: 0.5625rem;
        height: 0.5625rem;
        background-image: url("../images/cash-detail.png");
        background-size: contain;
        background-repeat: no-repeat;
        margin: 0 auto; }
      .wrapper .second-line > div .bot-text {
        margin-top: 0.09375rem; }
      .wrapper .second-line > div .business-card-logo {
        width: 0.5625rem;
        height: 0.5625rem;
        background-image: url("../images/my-business-card-2x.png");
        background-size: contain;
        background-repeat: no-repeat;
        margin: 0 auto; }
    .wrapper .second-line div {
      text-align: center; }
  .wrapper .third-line {
    display: flex;
    margin-top: 0.21875rem;
    height: 1.71875rem;
    background-color: #FFF;
    border-bottom: 1px solid #e7e7e7;
    align-items: center;
    padding: 0 0.5rem; }
    .wrapper .third-line > div {
      flex-basis: 50%; }
  .wrapper .remain {
    height: 100%;
    border-right: 1px solid #e7e7e7; }
  .wrapper .withdraw {
    margin-left: 0.5rem; }
  .wrapper .left-title {
    margin-right: 0.375rem;
    font-size: 0.3125rem;
    color: #aaa; }
  .wrapper .right-number {
    font-size: 0.4375rem;
    color: #575757; }
  .wrapper .remain-number {
    color: #ffb400; }
  .wrapper .withdrew-number {
    color: #aaa; }
  .wrapper .four-line {
    display: flex;
    background-color: #FFF;
    height: 1.71875rem;
    align-items: center;
    padding: 0 0.5rem; }
    .wrapper .four-line > div {
      flex-basis: 50%; }
  .wrapper .withdraw-btn {
    margin-top: 0.5rem;
    width: 9.375rem;
    height: 1.40625rem;
    line-height: 1.40625rem;
    color: #FFF;
    font-size: 0.5625rem;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-color: #ffb400;
    border-radius: 0.07813rem; }
  .wrapper .withdraw-intro {
    margin-top: 0.71875rem;
    font-size: 0.25rem;
    color: #7a7a7a;
    width: 9.375rem;
    margin-left: auto;
    margin-right: auto; }

.pop-dlg {
  width: 10rem;
  height: 17.75rem;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: none; }
  .pop-dlg .dialog {
    width: 8.4375rem;
    height: 3.90625rem;
    background-color: #FFF;
    border-radius: 0.07813rem;
    margin: 0 auto;
    margin-top: 4.6875rem;
    text-align: center;
    font-size: 0.625rem;
    color: #FFb400; }
    .pop-dlg .dialog .tele-num {
      padding-top: 1rem;
      padding-bottom: 1rem;
      padding-left: 0.5rem;
      font-weight: 200;
      text-align: left;
      color: #e7e7e7; }
      .pop-dlg .dialog .tele-num .withdraw-input {
        height: 0.78125rem;
        width: 2.8125rem;
        border-bottom: 1px solid #e7e7e7;
        font-size: 0.625rem; }
    .pop-dlg .dialog .button {
      display: flex;
      font-size: 0.5rem;
      height: 1.375rem;
      line-height: 1.375rem;
      border-radius: 0.125rem;
      font-weight: 300; }
      .pop-dlg .dialog .button .cancel {
        flex-basis: 50%;
        color: #A3A3A3;
        background-color: #dcdcdc;
        border-bottom-left-radius: 0.125rem; }
      .pop-dlg .dialog .button .confirm {
        flex-basis: 50%;
        background-color: #FFb400;
        color: #FFF;
        border-bottom-right-radius: 0.125rem; }

/*# sourceMappingURL=craftman_personal.css.map */
