@charset "UTF-8";

@import "./common/_functions";
@import "./common/_icons";
@import "./common/_reboot";

$bkg-color: #EEEEEE;

html, body, .wrapper {
    height: 100%;
    -webkit-overflow-scrolling: touch;
    font-size: getRem640(28);
}

input, button {
    border: none;
    margin: none;
    outline: none;
}

.wrapper {
    background-color: $bkg-color;

    padding-top: getRem640(32);

    .up {
        display: flex;
        height: getRem640(90);
        justify-content: space-between;
        padding: getRem640(32) getRem640(30);
        align-items: center;
        background-color: #FFF;
        border-bottom: 1px solid #e7e7e7;
        & > div {
            font-size: getRem640(28);
            color: #2e2e2e;
        }
        input {
            font-size: getRem640(28);
            color: #aaa;
            text-align: right;
        }
        .right-arrow {
            width: getRem640(20);
            height: getRem640(36);
            background-image: url("../images/right-arrow.png");
            background-size: contain;
            background-repeat: no-repeat;
        }
    }
    .down {
        margin-top: getRem640(32);
        background-color: #FFF;
        text-align: center;
        width: getRem640(640);
        height: getRem640(88);
        line-height: getRem640(88);
        color: #575757;
    }
}

.pop-dlg {
    display: none;
    width: getRem640(640);
    height: getRem640(1136);
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    .content {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height: getRem640(511);
        background-color: #fff;
        padding-top: getRem640(32);
        .password-input {
            border-top: 1px solid #e7e7e7;
            border-bottom: 1px solid #e7e7e7;
            height: getRem640(88);
            padding-left: getRem640(26);
            margin-bottom: getRem640(12);
            position: relative;
            input {
                height: 100%;
                font-size: getRem640(28);
                color: #aaa;
            }
            button {
                width: getRem640(170);
                height: 100%;
                font-size: getRem640(28);
                color: #fff;
                position: absolute;
                right: 0;
                background-color: #ab9355;
            }
        }
        .confirm-modify {
            height: getRem640(90);
            background-color: #ffb400;
            margin-top: getRem640(36);
            line-height: getRem640(90);
            text-align: center;
            color: #fff;
        }
    }
}