@charset "UTF-8";

@import "./common/_functions";
@import "./common/_icons";
@import "./common/_reboot";

$bkg-color: #EEEEEE;

html, body, .wrapper {
    height: 100%;
    -webkit-overflow-scrolling: touch;
    font-size: getRem640(28);
}
input {
    outline: none;
}

.wrapper {
    background-color: $bkg-color;
    .body {
        overflow: scroll;
        height: getRem640(1000);
        padding-top: getRem640(46);
        .head-info {
            height: getRem640(275);
            background-color: #FFF;
            text-align: center;
            position: relative;
            border-bottom: 1px solid #e7e7e7;
            .pos {
                position: absolute;
                top: getRem640(144);
                left: 0;
                right: 0;
                margin-left: auto;
                margin-right: auto;
            }
            .avator {
                height: getRem640(124);
                width: getRem640(124);
                border-radius: 50%;
                background-size: cover;
                background-repeat: no-repeat;
                margin: 0 auto;
                position: relative;
                top: getRem640(-12);
            }
            .name {
                font-size: getRem640(26);
                color: #2e2e2e;
                height: getRem640(26);
                line-height: getRem640(26);
            }
            .com {
                font-size: getRem640(22);
                color: #aaaaaa;
                height: getRem640(22);
                line-height: getRem640(22);
                top: getRem640(188);
            }
            .statistic {
                top: getRem640(225);
                margin-left: getRem640(24);
                margin-right: getRem640(24);
                display: flex;
                justify-content: center;
                align-items: center;
                padding-bottom: getRem640(10);
                .order-count {
                    font-size: getRem640(18);
                    color: #aaa;
                    margin-right: getRem640(22);
                }

                img {
                    width: getRem640(30);
                    height: getRem640(28);
                }
            }
        }
        .line{
            height: getRem640(88);
            background-color: #FFF;
            padding-left: getRem640(30);
            padding-right: getRem640(30);
            input{
                height: 100%;
                font-size: getRem640(28);
                color: #aaa;
            }
        }
        .complex-line{
            display:flex;
            align-items: center;
            justify-content: space-between;
            .left-title{
                color: #2e2e2e;
                font-size: getRem640(28);
                width: getRem640(430);
            }
            .brand-title{
                color: #2e2e2e;
                font-size: getRem640(28);
                
            }
            .coupon-amount{
                color: #FFB400;
                font-size: getRem640(28);
            }
            .pay-amount{
                color: #17b50b;
                font-size: getRem640(28);
            }
            .select-tip{
                color: #aaa;
                font-size: getRem640(22);
            }
            .right-arrow{
                width: getRem640(20);
                height: getRem640(36);
                background-image: url('../images/right-arrow.png');
                background-size: cover;
            }
        }
        .top-add{
            margin-top: getRem640(16);
        }
        .bot-border{
            border-bottom: 1px solid #e7e7e7; 
        }
        .confirm-pay{
            height: getRem640(88);
            background-color:#1cd00f;
            font-size: getRem640(28);
            color: #FFF;
            width: getRem640(580);
            text-align: center;
            line-height:getRem640(88);
            margin: 0 auto;
            margin-top: getRem640(82);
            border-radius: getRem640(8);
        }
    }        
}

.pop-dialog-bkg{
    background-color: rgba(0,0,0,0.2);
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    width:100%;
    height:100%;
    display:none;
    .bind-mobilephone{
        height: getRem640(354);
        background-color: #fff;
        position:absolute;
        left:0;
        right:0;
        bottom:0;
        padding-top: getRem640(32);
        .mobilenum-block{
            height:getRem640(86);
            input{
                width: 80%;
                font-size: getRem640(28);
                color: #aaa;
                padding-left: getRem640(30);
            }
        }
    }
}