@charset "UTF-8";

@import "./common/_functions";
@import "./common/_icons";
@import "./common/_reboot";

$bkg-color: #EEEEEE;

html, body, .wrapper {
    height: 100%;
    -webkit-overflow-scrolling: touch;
    font-size: getRem640(28);
}

.wrapper {
    background-color: $bkg-color;
    padding-top: getRem640(26);
    .avator-line {
        height: getRem640(120);
        padding: getRem640(20) getRem640(30);
        background-color: #FFF;
        border-bottom: 1px solid #e7e7e7;
        .left-div {
            float: left;
            height: getRem640(80);
            line-height: getRem640(80);
        }
        .right-avator {
            float: right;
            background-size: cover;
            background-repeat: no-repeat;
            border-radius: 50%;
            width: getRem640(80);
            height: getRem640(80);

        }
    }
    .common-line {
        height: getRem640(88);
        padding: getRem640(20) getRem640(30);
        background-color: #FFF;
        border-bottom: 1px solid #e7e7e7;
        .left-text {
            float: left;
            height: getRem640(48);
            line-height: getRem640(48);
        }
        .right-text {
            float: right;
            color: #aaaaaa;
        }
        .right-arrow {
            width: getRem375(10);
            height: getRem375(18);
            background-image: url("../images/right-arrow.png");
            background-size: cover;
            background-repeat: no-repeat;
            top: 50%;
            margin-top: getRem640(9);
        }
    }
    .logout {
        color: #ab9355;
        text-align: center;
        margin-top: getRem640(30);
    }
}